html {
	background-color: #3D6237;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-weight: lighter;
}

header {
	background-color: #101308;
	height: 80px;
	border: 0px;
}

body {
	padding-top: 90px;
	background-color: #3D6237;
	padding-bottom: 70px;
}

img {
	border: 2px solid white;
	width: 400px;
	margin-top: 90px;
}

p {
	color: #EFFCE6;
	text-align: justify;
	font-size: 24px;
}

nav {
	text-align: center;
	text-decoration: none;
}

footer {
	text-decoration: none;
	bottom: 10px;
}

h2, h3, h4 {
	color: #101308;
}

label {
	color: #101308;
	font-size: 20px;
}

.nav>li>a:hover {
	background-color: #5A8853;
}

.navbar a {
	text-decoration: none;
	color: #EFFCE6;	
}

.header-name {
	float: left;
	font-family: cursive;
	font-size: 34px;
	transform: translateY(35%);
}

.navbar-right li {
	font-size: 24px;
	transform: translateY(35%);
}

.navbar-toggle {
	background-color: #525659;
	height: 48px;
	width: 48px;
	transform: translateY(15%);
}

.icon-bar {
	background-color: #EFFCE6;
}

#header-navbar-collapse {
	background-color: #101308;
	margin-top: 12px;
	padding-bottom: 20px;
}

.profile-image {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.post-title {
	text-decoration: none;
	color: #101308
}

.fa {
	font-size: 48px;
	color: #101308;
}

.resume {
	width: 100%;
	height: 1100px;
}

.contact-button {
	margin-top: 15px;
}

.portfolio-summary-image {
	width: 100%;
	margin-top: 0px;
}

.panel-heading {
	background-color: #101308;
	color: #EFFCE6;
	text-align: center;
	font-size: 24px;
}
