<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }} | {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	
	<!-- I was considering using another CSS file for the blog page, but realized I would have to include the base information there as well for things like the navigation bar. -->
	<!-- {% if page.url == '/blog/' %}
		<link type="text/css" rel="stylesheet" href="/css/blog.css"/> 
	{% else %} normal styles.css-->
	
	<!-- {% endif%} -->
</head>
<body>
	<header>
		<div class="container">
			<div class="navbar-header">
				<ol class="navbar navbar-default navbar-fixed-top name">
					<li><a href="{{}}/">Kelly Wright</a></li>
				</ol>
			</div>
			<ol class="nav navbar-nav right-nav">
				<li>
					<a href="{{}}/contact">Contact</a>
				</li>
				<li>
					<a href="{{}}/blog">Blog</a>
				</li>
				<li>
					<a href="{{}}/about">About</a>
				</li>
				<li>
					<a href="{{}}/">Home</a>
				</li>
			</ol>
		</div>
	</header>
	<div class="container site-container">
		<div class="row">
			<div class="col-sm-12">